<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="page" style="display: flex; flex-direction: column;">
    <div class="page-content">

        <div class="left-side-container">
            <div class="industry-name-and-logo-container">
                <div class="industry-name">{{this.industryName}}
                    <hr width="60%" color="#A8385D" />
                </div>
                <div class="industry-logo-container">
                    <img src="{{this.industryLogo}}" alt="Industry logo">
                </div>
            </div>

            <div class="first-left-container">
                <p>{{this.infoText}}</p>
            </div>

            <div class="chart-container">
                <div class="chart-header">
                    <div style="width: 70%;">
                        <h3>Daily polarity and share value </h3>
                        <p >( The polarity value is normalized to the same scale as the share
                            value )</p>
                    </div>
                    <p style=" width: 30%; height: 95%; display: flex; align-items: end;">Cumulative
                        line chart <span style="margin-left: 5%;" class="material-symbols-outlined">
                            <mat-icon style="display: flex; align-items: center;"
                                matTooltip=" Cumulative line chart or cumulative frequency chart, is a graphical representation that shows the cumulative sum or total of a series of values over time or another dimension.">info</mat-icon>
                        </span></p>

                </div>
                <hr width="90%" color="#A8385D" />
                <br>
                <div class="chart-spinner" id="chart-spinner"> <mat-spinner></mat-spinner></div>
                <div class="chart" id="chart" style="display: none;">
                    <ngx-charts-line-chart [scheme]="'cool'" [results]="lineChartData" [gradient]="gradient"
                        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline" style="fill: white;">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>

        <div class="right-side-container">

            <div style="display: flex; flex-direction: column;">

                <div class="polarity-and-articles">
                    <div class="polarity-container">
                        Polarity: <mat-icon id="sentiment-icon" class="sentiment-icon" matTooltip="{{this.polarity}}"
                            [style.color]="checkPolarity(this.polarity).color">
                            {{checkPolarity(this.polarity).sentiment}}
                        </mat-icon>
                    </div>
                    <div class="total-articles-container">
                        Articles analysed: {{this.numberOfArticles}}
                    </div>

                </div>

                <div class="news-container">
                    <div id="good-news-container" class="top-news">
                        <div class="news-text">
                            Top 5 good news
                            <hr width="80%" color="#A8385D" />
                        </div>
                        <div class="articles-container">
                            <div *ngFor="let article of top5GoodArticles" class="article-container">
                                <a (click)="openArticlePopupwindow(article)">
                                    <div style="display: flex; flex-direction: row;">
                                        <div class="article-title">{{article.title}}</div>
                                        <div class="article-polarity">{{article.polarity.toFixed(3)}}</div>
                                    </div>
                                </a>
                                <br>
                                <hr width="60%" color="#A8385D" />

                            </div>
                        </div>

                    </div>
                    <div id="bad-news-container" class="top-news">
                        <div class="news-text">
                            Top 5 bad news
                            <hr width="80%" color="#A8385D" />
                        </div>
                        <div class="articles-container">
                            <div *ngFor="let article of top5BadArticles" class="article-container">
                                <a (click)="openArticlePopupwindow(article)">
                                    <div style="display: flex; flex-direction: row;">
                                        <div class="article-title">{{article.title}}</div>
                                        <div class="article-polarity">{{article.polarity.toFixed(3)}}</div>
                                    </div>
                                </a>
                                <br>
                                <hr width="60%" color="#A8385D" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>