<mat-toolbar>
    <a class="arrow" href="home">
        <span class="material-icons" style="font-size: 5vh;">
            arrow_back
        </span>
    </a>
    <div class="toolbar-text">
        Dashboard
    </div>
</mat-toolbar>



<div class="page">

    <div class="left-side-container">
        <div class="industry-name">{{this.industryName}}
            <hr width="60%" color="#A8385D" />
        </div>
        <div class="first-left-container">
            <div class="polarity-container">
                Polarity: {{this.polarity}}
            </div>
            <div class="total-articles-container">
                Articles analysed: {{this.numberOfArticles}}
            </div>
        </div>

        <div class="chart-container">
            <div class="chart">
                <ngx-charts-line-chart [scheme]="'cool'" [results]="lineChartData" [gradient]="gradient"
                    [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                    [timeline]="timeline" style="fill: white;">
                </ngx-charts-line-chart>
            </div>
        </div>
    </div>

    <div class="right-side-container">
        <div id="good-news-container" class="top-news">
            <div class="news-text">
                Top 5 good news
                <hr width="80%" color="#A8385D" />
            </div>
            <div class="articles-container">
                <div *ngFor="let article of top5GoodArticles" class="article-container">
                    <a href="{{article.url}}">
                        <div style="display: flex; flex-direction: row;">
                            <div class="article-title">{{article.title}}</div>
                            <div class="article-polarity">{{article.polarity.toFixed(3)}}</div>
                        </div>
                    </a>
                    <br>
                    <hr width="60%" color="#A8385D" />

                </div>
            </div>

        </div>
        <div id="bad-news-container" class="top-news">
            <div class="news-text">
                Top 5 bad news
                <hr width="80%" color="#A8385D" />
            </div>
            <div class="articles-container">
                <div *ngFor="let article of top5BadArticles" class="article-container">
                    <a href="{{article.url}}">
                        <div style="display: flex; flex-direction: row;">
                            <div class="article-title">{{article.title}}</div>
                            <div class="article-polarity">{{article.polarity.toFixed(3)}}</div>
                        </div>
                    </a>
                    <br>
                    <hr width="60%" color="#A8385D" />
                </div>
            </div>
        </div>
    </div>


</div>