<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="whole-page">

    <div class="instruction-text" style="color: red;">This component is under development and does not work properly
    </div>

    <div class="industry-selector">
        <mat-button-toggle-group id="industry-selector" name="Industry-selector" value="Crowdstrike"
            (change)="selectIndustry($event)">
            <mat-button-toggle value="Crowdstrike">Crowdstrike</mat-button-toggle>
            <mat-button-toggle value="Bayer">Bayer</mat-button-toggle>
            <mat-button-toggle value="Microsoft">Microsoft</mat-button-toggle>
            <mat-button-toggle value="Berkshire Hathaway">Berkshire Hathaway</mat-button-toggle>
            <mat-button-toggle value="Healthcare industry">Healthcare industry</mat-button-toggle>
            <mat-button-toggle value="Technology industry">Technology industry</mat-button-toggle>
            <mat-button-toggle value="Petroleum industry">Petroleum industry</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="filter-selector">
        <mat-button-toggle-group [formControl]="filterSelector" name="filter-selector" aria-label="filter-selector"
            multiple="true" hideMultipleSelectionIndicator="true">
            <mat-button-toggle value="latest">Latest</mat-button-toggle>
            <mat-button-toggle (click)="positiveClicked()" [disabled]="negativeSelected"
                value="positive">Positive</mat-button-toggle>
            <mat-button-toggle (click)="negativeClicked()" [disabled]="positiveSelected"
                value="negative">Negative</mat-button-toggle>

        </mat-button-toggle-group>

        <mat-form-field>
            <mat-label>Sources</mat-label>
            <mat-select [formControl]="sourceSelector" multiple>
                @for (source of sourceList; track source) {
                <mat-option [value]="source">{{source}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        &nbsp;
        &nbsp;
        &nbsp;
        <div class="input-and-search-button-and-clear-button">
            <input matInput [formControl]="searchWord" style="height: 2vh; border-radius: 1vh; font-size: large; padding: 1vh;"
                placeholder="Search word">
            &nbsp;
            &nbsp;

            <button mat-button class="search-button" (click)="search()">
                <div style="color: white;">Search</div>
                <span class="material-icons" style="color:white;">
                    search
                </span>
            </button>
            &nbsp;
            &nbsp;

            <button mat-button class="clear-filters-button" (click)="clearFilters()">
                <div style="color: white;">Clear filters</div> <span class="material-icons" style="color:white;">
                    close
                </span>
            </button>
        </div>

    </div>

    <hr color="#A8385D" width="70%">

    <div class="news-container">
        <div *ngIf="choosedIndustry=='Crowdstrike' ">

            <div *ngIf="crowdstrikeLoading" class="spinner" id="spinner"> <mat-spinner></mat-spinner>
                <p>Loading articles...</p>
            </div>

            <div *ngIf="!crowdstrikeLoading" class="articles-container">
                <div *ngFor="let article of showArticles" class="article-container">

                    <div class="article-container-content">

                        <div class="article-image">
                            <img src={{article.image_url}} alt="Article image" (error)='showAlternativeImage($event)'
                                style="border-radius: 0.5vh; display: flex; width: 100%;">
                        </div>
                        <br>
                        <hr width="70%" color="#A8385D">
                        <div class="article-title">
                            <h2>{{shorteningFunc(article.title,60)}}</h2>
                        </div>
                        <div class="article-description">
                            <p>{{shorteningFunc(article.description,100)}}</p>
                        </div>
                        <div class="article-container-bottom">
                            <div class="article-polarity"> <mat-icon id="sentiment-icon" class="sentiment-icon"
                                    matTooltip="{{article.polarity.toFixed(3)}}"
                                    [style.color]="checkPolarity(article.polarity).color">
                                    {{checkPolarity(article.polarity).sentiment}}
                                </mat-icon></div>

                            <a (click)="openArticlePopupwindow(article)">
                                <button mat-button class="see-more-button">See more</button>
                            </a>

                            <div class="article-source">
                                <div href="article.source_name">
                                    {{article.source_name}}
                                </div>
                            </div>
                        </div>
                        <div
                            style="margin-top: 1vh; display: flex; justify-content: end; align-items: end; width: 100%;">
                            {{article.published_at}}
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!-- Bayer Industry -->
        <div *ngIf="choosedIndustry=='Bayer' ">
            <div *ngIf="bayerLoading" class="spinner" id="spinner">
                <mat-spinner></mat-spinner>
                <p>Loading articles...</p>
            </div>

            <div *ngIf="!bayerLoading" class="articles-container">
                <div *ngFor="let article of showArticles" class="article-container">
                    <!-- Same structure for articles as before -->
                    <div class="article-container-content">

                        <div class="article-image">
                            <img src={{article.image_url}} alt="Article image" (error)='showAlternativeImage($event)'
                                style="border-radius: 0.5vh; display: flex; width: 100%;">
                        </div>
                        <br>
                        <hr width="70%" color="#A8385D">
                        <div class="article-title">
                            <h2>{{shorteningFunc(article.title,60)}}</h2>
                        </div>
                        <div class="article-description">
                            <p>{{shorteningFunc(article.description,100)}}</p>
                        </div>
                        <div class="article-container-bottom">
                            <div class="article-polarity"> <mat-icon id="sentiment-icon" class="sentiment-icon"
                                    matTooltip="{{article.polarity.toFixed(3)}}"
                                    [style.color]="checkPolarity(article.polarity).color">
                                    {{checkPolarity(article.polarity).sentiment}}
                                </mat-icon></div>

                            <a href={{article.url}}>
                                <button mat-button class="see-more-button">See more</button>
                            </a>

                            <div class="article-source">
                                <a href="article.source_name" style="color: #A8385D;">
                                    {{article.source_name}}
                                </a>
                            </div>
                        </div>
                        <div
                            style="margin-top: 1vh; display: flex; justify-content: end; align-items: end; width: 100%;">
                            {{article.published_at}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Microsoft Industry -->
        <div *ngIf="choosedIndustry=='Microsoft' ">
            <div *ngIf="microsoftLoading" class="spinner" id="spinner">
                <mat-spinner></mat-spinner>
                <p>Loading articles...</p>
            </div>

            <div *ngIf="!microsoftLoading" class="articles-container">
                <div *ngFor="let article of showArticles" class="article-container">
                    <!-- Same structure for articles as before -->
                    <div class="article-container-content">

                        <div class="article-image">
                            <img src={{article.image_url}} alt="Article image" (error)='showAlternativeImage($event)'
                                style="border-radius: 0.5vh; display: flex; width: 100%;">
                        </div>
                        <br>
                        <hr width="70%" color="#A8385D">
                        <div class="article-title">
                            <h2>{{shorteningFunc(article.title,60)}}</h2>
                        </div>
                        <div class="article-description">
                            <p>{{shorteningFunc(article.description,100)}}</p>
                        </div>
                        <div class="article-container-bottom">
                            <div class="article-polarity"> <mat-icon id="sentiment-icon" class="sentiment-icon"
                                    matTooltip="{{article.polarity.toFixed(3)}}"
                                    [style.color]="checkPolarity(article.polarity).color">
                                    {{checkPolarity(article.polarity).sentiment}}
                                </mat-icon></div>

                            <a href={{article.url}}>
                                <button mat-button class="see-more-button">See more</button>
                            </a>

                            <div class="article-source">
                                <a href="article.source_name" style="color: #A8385D;">
                                    {{article.source_name}}
                                </a>
                            </div>
                        </div>
                        <div
                            style="margin-top: 1vh; display: flex; justify-content: end; align-items: end; width: 100%;">
                            {{article.published_at}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Berkshire Hathaway Industry -->
        <div *ngIf="choosedIndustry=='Berkshire Hathaway' ">
            <div *ngIf="berkshireLoading" class="spinner" id="spinner">
                <mat-spinner></mat-spinner>
                <p>Loading articles...</p>
            </div>

            <div *ngIf="!berkshireLoading" class="articles-container">
                <div *ngFor="let article of showArticles" class="article-container">
                    <!-- Same structure for articles as before -->
                    <div class="article-container-content">

                        <div class="article-image">
                            <img src={{article.image_url}} alt="Article image" (error)='showAlternativeImage($event)'
                                style="border-radius: 0.5vh; display: flex; width: 100%;">
                        </div>
                        <br>
                        <hr width="70%" color="#A8385D">
                        <div class="article-title">
                            <h2>{{shorteningFunc(article.title,60)}}</h2>
                        </div>
                        <div class="article-description">
                            <p>{{shorteningFunc(article.description,100)}}</p>
                        </div>
                        <div class="article-container-bottom">
                            <div class="article-polarity"> <mat-icon id="sentiment-icon" class="sentiment-icon"
                                    matTooltip="{{article.polarity.toFixed(3)}}"
                                    [style.color]="checkPolarity(article.polarity).color">
                                    {{checkPolarity(article.polarity).sentiment}}
                                </mat-icon></div>

                            <a href={{article.url}}>
                                <button mat-button class="see-more-button">See more</button>
                            </a>

                            <div class="article-source">
                                <a href="article.source_name" style="color: #A8385D;">
                                    {{article.source_name}}
                                </a>
                            </div>
                        </div>
                        <div
                            style="margin-top: 1vh; display: flex; justify-content: end; align-items: end; width: 100%;">
                            {{article.published_at}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Healthcare Industry -->
        <div *ngIf="choosedIndustry=='Healthcare industry' ">
            <div *ngIf="healthcareLoading" class="spinner" id="spinner">
                <mat-spinner></mat-spinner>
                <p>Loading articles...</p>
            </div>

            <div *ngIf="!healthcareLoading" class="articles-container">
                <div *ngFor="let article of showArticles" class="article-container">
                    <!-- Same structure for articles as before -->
                    <div class="article-container-content">

                        <div class="article-image">
                            <img src={{article.image_url}} alt="Article image" (error)='showAlternativeImage($event)'
                                style="border-radius: 0.5vh; display: flex; width: 100%;">
                        </div>
                        <br>
                        <hr width="70%" color="#A8385D">
                        <div class="article-title">
                            <h2>{{shorteningFunc(article.title,60)}}</h2>
                        </div>
                        <div class="article-description">
                            <p>{{shorteningFunc(article.description,100)}}</p>
                        </div>
                        <div class="article-container-bottom">
                            <div class="article-polarity"> <mat-icon id="sentiment-icon" class="sentiment-icon"
                                    matTooltip="{{article.polarity.toFixed(3)}}"
                                    [style.color]="checkPolarity(article.polarity).color">
                                    {{checkPolarity(article.polarity).sentiment}}
                                </mat-icon></div>

                            <a href={{article.url}}>
                                <button mat-button class="see-more-button">See more</button>
                            </a>

                            <div class="article-source">
                                <a href="article.source_name" style="color: #A8385D;">
                                    {{article.source_name}}
                                </a>
                            </div>
                        </div>
                        <div
                            style="margin-top: 1vh; display: flex; justify-content: end; align-items: end; width: 100%;">
                            {{article.published_at}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Technology Industry -->
        <div *ngIf="choosedIndustry=='Technology industry' ">
            <div *ngIf="technologyLoading" class="spinner" id="spinner">
                <mat-spinner></mat-spinner>
                <p>Loading articles...</p>
            </div>

            <div *ngIf="!technologyLoading" class="articles-container">
                <div *ngFor="let article of showArticles" class="article-container">
                    <!-- Same structure for articles as before -->
                    <div class="article-container-content">

                        <div class="article-image">
                            <img src={{article.image_url}} alt="Article image" (error)='showAlternativeImage($event)'
                                style="border-radius: 0.5vh; display: flex; width: 100%;">
                        </div>
                        <br>
                        <hr width="70%" color="#A8385D">
                        <div class="article-title">
                            <h2>{{shorteningFunc(article.title,60)}}</h2>
                        </div>
                        <div class="article-description">
                            <p>{{shorteningFunc(article.description,100)}}</p>
                        </div>
                        <div class="article-container-bottom">
                            <div class="article-polarity"> <mat-icon id="sentiment-icon" class="sentiment-icon"
                                    matTooltip="{{article.polarity.toFixed(3)}}"
                                    [style.color]="checkPolarity(article.polarity).color">
                                    {{checkPolarity(article.polarity).sentiment}}
                                </mat-icon></div>

                            <a href={{article.url}}>
                                <button mat-button class="see-more-button">See more</button>
                            </a>

                            <div class="article-source">
                                <a href="article.source_name" style="color: #A8385D;">
                                    {{article.source_name}}
                                </a>
                            </div>
                        </div>
                        <div
                            style="margin-top: 1vh; display: flex; justify-content: end; align-items: end; width: 100%;">
                            {{article.published_at}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Petroleum Industry -->
        <div *ngIf="choosedIndustry=='Petroleum industry' ">
            <div *ngIf="petroleumLoading" class="spinner" id="spinner">
                <mat-spinner></mat-spinner>
                <p>Loading articles...</p>
            </div>

            <div *ngIf="!petroleumLoading" class="articles-container">
                <div *ngFor="let article of showArticles" class="article-container">
                    <!-- Same structure for articles as before -->
                    <div class="article-container-content">

                        <div class="article-image">
                            <img src={{article.image_url}} alt="Article image" (error)='showAlternativeImage($event)'
                                style="border-radius: 0.5vh; display: flex; width: 100%;">
                        </div>
                        <br>
                        <hr width="70%" color="#A8385D">
                        <div class="article-title">
                            <h2>{{shorteningFunc(article.title,60)}}</h2>
                        </div>
                        <div class="article-description">
                            <p>{{shorteningFunc(article.description,100)}}</p>
                        </div>
                        <div class="article-container-bottom">
                            <div class="article-polarity"> <mat-icon id="sentiment-icon" class="sentiment-icon"
                                    matTooltip="{{article.polarity.toFixed(3)}}"
                                    [style.color]="checkPolarity(article.polarity).color">
                                    {{checkPolarity(article.polarity).sentiment}}
                                </mat-icon></div>

                            <a href={{article.url}}>
                                <button mat-button class="see-more-button">See more</button>
                            </a>

                            <div class="article-source">
                                <a href="article.source_name" style="color: #A8385D;">
                                    {{article.source_name}}
                                </a>
                            </div>
                        </div>
                        <div
                            style="margin-top: 1vh; display: flex; justify-content: end; align-items: end; width: 100%;">
                            {{article.published_at}}
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="load-more-articles-button" (click)="loadMoreArticles()"><button mat-button>Load more
                articles</button>
        </div>


    </div>