<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="whole-page">
    <div class="button-container">
        <button class="info"
            style="background-color: #1B1E27; color: white; font-size: large; padding: 3vh; border-radius: 1vh;"
            mat-raised-button (click)="openDialog()">How does it work?<mat-icon
                class="help-icon">help</mat-icon></button>
    </div>
    <div class="chart-and-table">
        <div class="two-chart-container">
            <div class="chart-container">
                <div class="chart-header">
                    <h3 style="font-size: xx-large; font-weight: 500; padding-top:2vh; width:50%;">Polarity chart </h3>
                    <p style="font-size: medium; width: 30%; height: 100%; display: flex; align-items: end;">Cumulative
                        line chart <span style="margin-left: 5%;" class="material-symbols-outlined">
                            <mat-icon
                                matTooltip=" Cumulative line chart or cumulative frequency chart, is a graphical representation that shows the cumulative sum or total of a series of values over time or another dimension.">info</mat-icon>
                        </span></p>

                </div>

                <hr width="90%" color="#A8385D" />
                <br>


                <div id="polarity-chart-spinner" class="chart-spinner"><mat-spinner></mat-spinner> <br>
                    <p> Loading polarity chart ...</p>
                </div>
                <div class="chart" id="polarity-chart" style="display: none;">

                    <ngx-charts-line-chart [scheme]="'cool'" [results]="polarityChartData" [gradient]="gradient"
                        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline" style="fill: white;">
                    </ngx-charts-line-chart>
                </div>
            </div>
            <br><br>
            <div class="chart-container">
                <div class="chart-header">
                    <h3 style="font-size: xx-large; font-weight: 500; padding-top:2vh; width: 50%;">Stock chart </h3>
                    <p style="font-size: medium; width: 30%; height: 100%; display: flex; align-items: end;">Daily close
                        values <span style="margin-left: 5%;" class="material-symbols-outlined">
                            <mat-icon>info</mat-icon>
                        </span></p>

                </div>

                <hr width="90%" color="#A8385D" />
                <br>

                <div id="stock-chart-spinner" class="chart-spinner"><mat-spinner></mat-spinner><br>
                    <p> Loading stock chart ...</p>
                </div>
                <div class="chart" id="stock-chart" style="display: none;">

                    <ngx-charts-line-chart [scheme]="'cool'" [results]="stockChartData" [gradient]="gradient"
                        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline" style="fill: white; ">
                    </ngx-charts-line-chart>
                </div>
            </div>

        </div>

        <div class="table-and-library-container">
            <div class="table-container" style="display: flex; flex-direction: column;">
                <table id="table" mat-table [dataSource]="parsedData" style="background-color: #1B1E27; width: 100%;">

                    <ng-container matColumnDef="industry">
                        <th mat-header-cell *matHeaderCellDef> Industry </th>
                        <td mat-cell *matCellDef="let data" class="cell"> <button mat-button class="button"
                                (click)="navigateToDashboard(data.industry,data.tableName)"> {{data.industry}} </button>
                        </td>

                    </ng-container>

                    <ng-container matColumnDef="polarity">
                        <th mat-header-cell *matHeaderCellDef> Mean Polarity </th>
                        <td mat-cell *matCellDef="let data" class="cell">
                            <mat-icon id="sentiment-icon" class="sentiment-icon"
                                matTooltip="{{data.polarity.toFixed(3)}}"
                                [style.color]="checkPolarity(data.polarity).color">
                                {{checkPolarity(data.polarity).sentiment}}
                            </mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="numberOfArticles">
                        <th mat-header-cell *matHeaderCellDef> Articles Analysed </th>
                        <td mat-cell *matCellDef="let data" class="cell"> {{data.numberOfArticles}} </td>
                    </ng-container>

                    <hr width="90%" color="#A8385D" />


                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

                </table>
                <div id="table-spinner" class="table-spinner"><mat-spinner></mat-spinner><br>
                    <p> Loading industry table ...</p>
                </div>

            </div>

            <div class="library">
                <div class="library-header">
                    <div style="display: flex;">
                        <h3>Library</h3>
                        <mat-icon class="library-icon">
                            menu_book
                        </mat-icon>
                    </div>
                    <p>Latest news</p>

                </div>
                <hr width="100%" color="#A8385D" />

                <div id="library-spinner" class="library-spinner"><mat-spinner></mat-spinner><br>
                    <p> Loading latest news ...</p>
                </div>

                <div class="library-content" id="library-content" style="display: none;">
                    <mat-progress-bar mode="determinate" [value]="progressValue"
                    class="progress-bar"></mat-progress-bar>
                    <div style="display: flex; color: white; font-size: x-large; margin-top: 4vh; margin-bottom: 3vh;">
                        
                        {{libraryCurrentIndustry}}:</div>
                        
                    <div *ngFor="let article of libraryContent" class="news-cards-container">

                        <mat-card class="news-card" appearance="outlined" (click)="openArticlePopupwindow(article)">
                            <img mat-card-image width="10%" src={{article.image_url}} (error)="showAlternativeImage($event)" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <h2>
                                    {{article.title}}
                                </h2>

                                <p>{{article.published_at}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <button mat-button (click)="navigateToNewsDashboard()">Click here to go to the library! </button>
                </div>
            </div>

        </div>
    </div>