mat-toolbar{
    height: 11vh;
    display: flex;
    flex-direction: row;
    background-color: #1B1E27;
    color: white;
    border-bottom: solid;
    border-color: #A8385D;
    border-bottom-width: 0.3vh;
}

.project-name{
    margin-left: 50vh;
    margin-top: 1vh;
}
.whole-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2F3646;
    height: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 60%;
    background-color: #1B1E27;
    border-radius: 2vh;
    padding: 5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}
th{
    color: white;
}

td{
    border-bottom: solid;
}

.cell {
    font-size: large;
    padding: 3.5vh;
    font-weight: 450;
    color: white;
}

.button:hover{
    background-color: white;
    color: black !important;
}

.button{
    font-size: large; 
    color: white !important;
    border-radius: 1vh;
    padding: 1.5vh;
}



