<mat-toolbar style="background-color: lightskyblue;">
    <span style="margin-top:1vh"><h1 style="font-weight:450 ;">Home</h1></span>
  </mat-toolbar>
<div class="whole-page">
    <div class="table-container">
        <table mat-table [dataSource]="parsedData"  style="background-color: #f1f1f1;" >

            <ng-container matColumnDef="industry" >
                <th mat-header-cell *matHeaderCellDef style="font-size: x-large;"> Industry </th>
                <td mat-cell *matCellDef="let data" class="cell"> <button mat-button (click)="navigateToDashboard(data.industry)" style="font-size: large;"> {{data.industry}} </button> </td>
                
            </ng-container>

            <ng-container matColumnDef="polarity">
                <th mat-header-cell *matHeaderCellDef style="font-size: x-large;"> Mean Polarity </th>
                <td mat-cell *matCellDef="let data" class="cell"> {{data.polarity}} </td>
            </ng-container>

            <ng-container matColumnDef="numberOfArticles">
                <th mat-header-cell *matHeaderCellDef style="font-size: x-large"> Articles Analysed </th>
                <td mat-cell *matCellDef="let data" class="cell"> {{data.numberOfArticles}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

        </table>
    </div>
</div>