mat-toolbar{
    height: 11vh;
    display: flex;
    flex-direction: row;
    background-color: #FF7051;
    border-bottom: solid;
    border-bottom-width: 0.3vh;
}
.whole-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F2F1;
    height: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 60%;
    background-color: white;
    border-radius: 2vh;
    padding: 5vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.cell {
    font-size: large;
    padding: 3.5vh;
    font-weight: 450;
}



